@charset "utf-8";
table{
    border-collapse: collapse;
}
*{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 1000px;
    height: auto;
    border: 1px solid #000;
    margin: auto;
}
.header{
    width: 100%;
    height: 120px;
    border: 1px solid #000;
}
.menu{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
}
.menu ul{
    width: 100%;
    height: 40px;
    list-style: none;
}
.menu ul li{
    width: 120px;
    height: 40px;
    line-height: 40px;
    float:left;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: #930;
}
.content{
    width: 100%;
    height: auto;
    border: 1px solid #000;
}
.left{
    width: auto;
    height: auto;
    border: 1px solid #000000;
    float: left;
}
.right{
    width: auto;
    height: auto;
    border: 1px solid #000000;
    float: left;
    margin-left: 10px;
}
.clear{
    clear: both;
}
.footer{
    width: 100%;
    height: 80px;
    border: 1px solid #000;
}
